/* Global styles */

html,
body {width:100%;height:100%;
background-color:#1f0427;
padding:0px;
margin:0px;
   height:100%;
   color:white;
}
#container {
   overflow:visible;
   width:100%;
   
   min-height:100%;
   position:relative;
}
#header {
	min-width:960px;
	z-index:1;
   background: url(../images/header_bg.png)repeat-x;
   padding:0px;
   height:95px;
}
.glow{
	
	width:100%;
	height:600px;
background:url(../images/glow.png) no-repeat;	
}
#wrapper{margin:0 auto;
	width:960px;}
#content {
	z-index:2;
	 margin-top:-7px;
	 min-height:950px;
	background-color:#636363;
	width:100%;
 background:  url(../images/bg.jpg)repeat-x;
   padding:0px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
	 background:  url(../images/footer_bg.png)repeat-x;
   position:absolute;
   padding:0;
   bottom:0;
   overflow: visible;
   width:100%;
   height:300px;   /* Height of the footer */
   
}


#store h1 {
padding-left:10px;
        font:  140% sans-serif ;
	font-weight:600;
        color: #FAF7FB;
	background-color: #77f;
        border: 1px solid #77d;
	  -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
}
/* Styles for products/show */
#product_container_show{}


/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 10px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        white;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
background: #999;
}

#product_list .list_line_odd {
  background: #CCC;
 
}

/* START:mainlayout */
/* Styles for main page */

#banner {
  width:960px;
  padding-top: 10px;
  
  
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}

#banner img {
	margin-left:10px;
  float: left;
}

#columns {
  
}

#nav {
	text-transform:capitalize;
	float:right;
  
  position:relative;
  padding-top: 1.4em;
  padding-right: 5px;

  width: 480px;

}

#nav li{border: 1px solid #422767;
	height:26px;
	text-align:center;
	display:block;
	width:95px;
	background-color:#7777FF;
	font-size:12px;
  float: right;
margin-left:20px;
  -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
#nav li:hover{border: 1px solid #7777FF;
	height:26px;
	text-align:center;
	display:block;
	width:95px;
	background-color:#5448B2;
	font-size:12px;
  float: right;
margin-left:20px;
  -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
#nav li a{
	text-transform:uppercase;
	text-decoration:none;
	position:relative;
	top:.5em;
	color:#E5DFC8;
	
 

}

#main {
	background:url(../images/bg_transparent.png)repeat;
  width:690px;
  top:20px;
  position:relative;
  padding-top: 1em;
  padding:10px 10px 10px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
 
}

#side {
	float:right;
	position:relative;
  top:20px;
  background:url(../images/bg_transparent.png)repeat;
  padding:10px 10px 10px 10px;

  width: 225px;
  -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}


#side li{
	font-size:18pt;
 
padding-right:15px;
}
#side a {
	text-decoration:none;
	text-transform: uppercase;
  color: white;
  font-size: small;
}
/* END:mainlayout */

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
color:#7777FF;
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #7777FF;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #7777FF;
  font-weight: bold;
  margin-right: 2em;
}
#store .entry form, #store .entry form div {
display: inline;
}
.rounded-corners {
     -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.rounded-corners {
    behavior: url(../css/border-radius.htc);
    border-radius: 3px;
}
